.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 104px;
}

.hero-content {
  flex: 1 1 400px;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.gradient-text {
  background: linear-gradient(90deg, var(--primary) 10%, var(--secondary) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.hero-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 25px;
  color: var(--muted-text);
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 30px;
  border-radius: 25px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #f4f4f5;
  display: inline-block;
}

.btn.primary {
  background-color: var(--primary);
  box-shadow: 0 4px 12px rgba(245, 118, 39, 0.4);
  transition: box-shadow 0.3s ease;
}

.btn.primary:hover {
  box-shadow: 0 6px 18px rgba(245, 118, 39, 0.6);
}

.btn.secondary {
  background-color: transparent;
  border: 2px solid var(--secondary);
  color: var(--secondary);
  box-shadow: 0 6px 18px rgba(39, 166, 245, 0.4);
  transition: all 0.3s ease;
}

.btn.secondary:hover {
  background: var(--secondary);
  color: #f4f4f5;
  box-shadow: 0 6px 18px rgba(39, 166, 245, 0.6);
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.social-icons a {
  font-size: 2rem;
  color: var(--primary);
  transition: all 0.3s ease;
}

.social-icons a:hover {
  color: var(--secondary);
  transform: translateY(-2px);
}

.hero-right {
  flex: 1 1 300px;
  display: flex;
  justify-content: flex-end;
}

.avatar {
  padding: 6px;
  border-radius: 50%;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
}

.avatar img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

/* Responsive */
@media (max-width: 1023px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding: 0px 5%;
  }

  .hero-buttons {
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
  }
}

.typing {
  border-right: 2px solid var(--secondary);
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: caretBlink 0.8s infinite;
}

@keyframes caretBlink {
  50% {
    border-color: transparent;
  }
}
